@import url('http://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');
$gap:10px;

//100vh
$app-main-color:#444;
$navbar-app-height: 5vh;
$navbar-board-height:6vh;
$board-content-height:88vh;

//color
$board-bg-color: #0079bf;
$common-elemnent-bg: rgba(255,255,255, .24);
$column-bg-color: #ebecf3; 
$alert-danger: #ee5253;

$column-border-radius: 4px;